<div>
    <button onclick="location.href='/dashboard'" type="button">dashboard</button>
    <button onclick="location.href='/profile'" type="button">profile</button>
    <button onclick="location.href='/app_logout'" type="button">logout</button>
</div>